<div class="filter-div d-flex flex-row-reverse">
  <mat-form-field class="filter-field">
    <mat-label>{{ "PLP.FILTER" | translate }}</mat-label>
    <input
      #filter
      matInput
      matAutosize="true"
      placeholder="Filter products"
      (input)="onFilterChanges(filter.value)"
      class="filter-input"
    />
    <button
      mat-button
      matPrefix
      mat-icon-button
      matTooltip="{{ 'PLP.FILTERTOOLTIP' | translate }}"
    >
      <mat-icon>filter_alt</mat-icon>
    </button>
  </mat-form-field>
</div>
<div class="cards" *ngIf="products.length > 0; else noProduct">
  <div class="row">
    <div
      class="col-lg-3 col-sm-6 d-flex align-items-stretch"
      *ngFor="let product of filteredProducts; let i = index"
    >
      <div class="card">
        <img class="card-img-top" [src]="product.img" alt="Card image cap" />
        <h1 class="card-title">{{ product.name }}</h1>
        <div class="card-body d-flex align-items-end">
          <p class="card-text"></p>
          <mat-divider></mat-divider>
          <button
            mat-raised-button
            class="action"
            color="accent"
            (click)="addProductToCart(i)"
          >
            {{ "PLP.ADDTOCARTBUTTON" | translate }}
          </button>
          <button
            color="accent"
            mat-raised-button
            class="action ml-auto"
            [routerLink]="[
              '/category',
              product.categoryid,
              'detail',
              product.pid
            ]"
            routerLinkActive="router-link-active"
          >
            {{ "PLP.SHOWINFOBUTTON" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #noProduct>
  <div>
    <p>{{ "PLP.NOPRODUCTSNOTE" | translate }}</p>
  </div>
</ng-template>
