.new {
  background-image: url("https://angularstore.blob.core.windows.net/angularpics/homepage-background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
}
.new span {
  display: block;
  height: 100%;
  width: 100%;
  opacity: 0;
  background: rgba(0, 0, 0, 0.8);
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.new:hover span {
  opacity: 1;
}
.first-div {
  margin-top: 100px;
}
.text-size {
  font-size: large;
}
.offer {
  -webkit-animation: color-change 5s infinite;
  -moz-animation: color-change 5s infinite;
  -o-animation: color-change 5s infinite;
  -ms-animation: color-change 5s infinite;
  animation: color-change 5s infinite;
}

@keyframes color-change {
  0% {
    color: black;
  }
  30% {
    color: gray;
  }
  50% {
    color: aquamarine;
  }
  70% {
    color: lightblue;
  }
  100% {
    color: aqua;
  }
}
.img-card {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.new-card:hover .img-card {
  opacity: 0.3;
}
